= semantic_form_for @artist do |f|
  = f.inputs do
    =f.input :name
    =f.input :description, :hint => "Please include as much or as little information about yourself as you like. This is also the place to put public contact information such as website addresses"
    =f.input :phone, :hint => 'Contact phone number'
    =f.input :email
  =f.buttons
