- title "Artists"
%p Unrecognised Exhibition on August 19th at Garret Street. Please #{link_to('register here', new_artist_registration_path)}
%table
  %tr
    %th Name
    %th Description
    %th Link
  - for artist in @artists
    %tr
      %td= artist.name
      %td= truncate(artist.description)
      %td= link_to 'Show', artist

