- title "Artists"
%p Unregonised Exhibition on August 19th at Garret Street. Please register by clicking "New Artist" below.
%table
  %tr
    %th Name
    %th Description
    %th Link
  - for artist in @artists
    %tr
      %td= artist.name
      %td= truncate(artist.description)
      %td= link_to 'Show', artist

%p= link_to "New Artist", new_artist_path
