= semantic_form_for [@artist, @artwork] do |f|
  =f.inputs do 
    =f.input :name, :hint => "The name of the artwork"
    =f.input :description, :hint => "Any additional info about the artwork for the viewer"
    =f.input :image, :as => :file, :hint => "An image of the artwork"
    =f.input :retained_image, :as => :hidden
    =f.input :downloadable, :label => 'Allow downloads for a donation?', :hint => "Would you like to offer a high quality digital download of the work, for a donation? If so, please ensure your attached image is high quality."
    =f.input :physical_being_delivered, :label => 'Are you delivering a physical copy to exhibit?', :hint => "All physical works must be delivered in the form in which the artist wants them exhibited - it's completely up to the artist whether they want to frame their work, print on solid backing, print on standard photographic paper, or anything else."
    =f.input :dimensions, :hint => "Please tell us the size of the artwork, as well as how it is mounted etc."
    =f.input :auction_physical, :label => 'Include the physical copy in the online auction?', :hint => "If you are delivering a physical copy, would you like to include it in our online auction? Please note that the online auction will be run like a Trade Me auction- where the winning bidder is put in touch with the artist, and they arrange the shipping and payment together. Artists can opt to get their costs back, and we'll rely on their good will to donate whatever is on top of their costs to our donation fund (which will go to ActiveStills)."
    
    =f.input :auction_reserve_price, :hint => "If you are auctioning a physical copy, please enter a reserve price that will cover your expenses"
    =f.buttons
