- title "Unrecognised"

%p intro paragraph
%p Artists: #{link_to('register here', new_artist_registration_path)}

-@artists.each do |artist|
  %h2=artist.name
  %p=simple_format auto_link artist.description
  %ol
    -artist.artworks.each do |a|
      -if a.image
        %li
          =link_to(image_tag(a.image.thumb('100x100>').url), a)


