%p Dear #{@bidder.name or @bidder.email}

%p Thank you very much for participating in the Concerned Citizens - Unrecognised photography auction.

%p We are pleased to let you know that your bid of $#{@bid.amount} on #{ @artwork.name } by #{ @artwork.artist.name } was successful!

%p You can pick your work up at 13 Garrett St (above People's Coffee/Global Fabrics) on Wednesday (31st Aug) between 5pm and 8pm or Thursday (1st Sept) between 2pm and 6pm. 

%p If you can't make either of those times, please get in touch with Ben on 02102325433 and we'll see if we can work out another time this week. 

%p If you don't live in Wellington, please send us a message at concernedcitizenscollective@gmail.com with your postal address and we'll arrange shipping/payment. 

%p Thanks for your support!

%p 
  Best wishes,
  %br/
  Concerned Citizens

