%p Dear #{@bidder.name or @bidder.email} 

Thank you very much for participating in the Concerned Citizens - Unrecognised auction.
 
We are pleased to let you know that your bid of $#{@bid.amount} on lot #{ @artwork.name } by #{ @artwork.artist.name } was successful!

SOmeting about how we fix this situation.

Best wishes,

Concerned Citizens Collective

