- title "Unrecognised"
%p Unrecognised Exhibition on August 19th at Garret Street. Please #{link_to('register here', new_artist_registration_path)}
%ul
  %li
    The exhibition opening is in Wellington on the 19th of August (just under two weeks away) at the Garrett Street exhibition space (13 Garrett St, upstairs from People's Coffee/Global Fabrics). 

  %li 
    Exhibitions will also be taking place in 5 other cities in New Zealand: Auckland, Hamilton, Whanganui, Gisborne, and Dunedin. The framework for these exhibitions varies from place to place - we're providing all cities a central exhibit, but it's up to organisers there whether they're also exhibiting local artists' work. 

  %li 
    An exhibition is also being organised in South Africa (New London). We are also trying very very hard to also have it exhibited in Israel (this is looking very likely but not 100% - there's also a possibility it will also show somewhere in Palestine, but this is more a hope than a plan at this point). 

  %li 
    In each location, we will be showing a central exhibit of photographs of Apartheid South Africa 30 years ago, photographs of the 1981 anti-Apartheid Springbok tour protests in New Zealand, and photographs of the situation in occupied Palestine right now. These are being provided by a photojournalist called Mark Fredericks in South Africa, several documentary photographers in New Zealand, and the ActiveStills photography collective in Israel/Palestine. 

  %li 
    In addition to the central exhibit, we're exhibiting work from an excellent collection of local artists. We're hoping that this collection includes you. We're taking submissions right now!

  %li 
    Local contributions can be absolutely anything photography-related, political or non-political. Since we're celebrating photography as art, photography as providing a record of actual events, and photography as a vehicle for positive social change, we're hoping for an extremely broad range of content, from documentary photography right through to avante gard abstract surrealist artistic work. Feel totally free to submit work that is only indirectly related to photography (collage etc). 

  %li 
    Contributors can submit as many works as you like, provided they fit within an area (of any shape) that doesn't exceed 1.5 square metres. This maximum area limit is not absolute - if you think your work will take up more space, just get in touch and we'll see what we can do. Please don't feel like you're expected to submit something this big.  Many artists will be submitting a single, small photo, while some will be submitting multiple, large images. 

  %li 
    All physical works must be submitted in the form in which the artist wants them exhibited - it's completely up to the artist whether they want to frame their work, print on solid backing,  print on standard photographic paper, or anything else.

  %li
    In addition to exhibiting the physical works at the gallery, we're also setting up an online gallery to display web-quality images of each work online. We're still working out the details of how sales will work, but artists can have single, physical original works for sale (in an online auction), and/or can opt for digital downloads of their work to be available to people who make online donations (i.e. anyone that makes a donation of NZ $10 gets to choose an image from the gallery to be sent a high-res version of for printing). All proceeds beyond the costs of the exhibition will go towards helping the ActiveStills collective in Palestine/Israel continue their amazing and urgent work in using photography to raise worldwide awareness about the situation in occupied Palestine. Contributors can opt to have their costs reimbursed if their work sells. 

  %li EXTREMELY IMPORTANT! The CUT-OFF DATE for submissions is the 15th of August. We're really sorry this is so soon - we know this puts pressure on but hope you will understand that with the opening on the 19th it's critical for us to get the physical work at least this far in advance to make sure we have space for everything. If for any reason you're not going to be able to make this deadline, please just get in touch and we'll see what we can do). 

  %li ALSO EXTREMELY IMPORTANT! To submit work, you need to go to unrecognised.concernedcitizens.co.nz and fill out the online submission form. Once you register, you can upload images, and decide whether you want your physical work to be sold in an online auction, and/or you want it to be part of the donation-for-download system. If your work is to be auctioned, you'll need to set a reserve, and please note that it will be run like a TradeMe auction, where the winning bidder is put in touch with the artist, and they arrange the shipping and payment together. Artists can opt to get their costs back, and we'll rely on their good will to donate whatever is on top of their costs to our donation fund (which will go to ActiveStills). 

  %li Despite the looming deadline and long list of contributors already, we're still open to more artists getting in touch! It will massively help us get national/international media coverage of this (and raise awareness among the largest possible number of people) if we can get as many high profile names contributing as possible! This means that it would be great if you can put the word out to anyone at all you think might be interested in contributing a photo (of absolutely anything) to a human rights-focused exhibition (directing them to concernedcitizenscollective@gmail.com). Musicians, public figures, anyone with a social conscience. Think broadly!

%p Thank you so much for your amazing support, and for being understanding about the urgency involved in getting this all together in the next week. More information about the general framework of the exhibition is included below.


%p Right now, the two most important things to note are: (1) submissions close on the 15th of August and (2) to submit work, you need to fill out the online form at unrecognised.concernedcitizens.co.nz. Please just let us know if you have any trouble with the form!

%p We look very forward to hearing from you!

%p Best wishes,

%p Ben, Rich, Rob and Blake on behalf of Concerned Citizens
