=link_to("All Bidders", admin_bidders_path)
=link_to('All Artists', admin_artists_path)
=link_to('Sold Artworks', admin_artworks_path(:sold => :true))
=link_to('Unsold artwroks', admin_artworks_path(:sold => :false))
